body {
    background-image: url("https://wallpapercave.com/wp/wp2605505.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.form-controll {
    position: center;
    background-color: whitesmoke; border-radius: 1ch;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 30px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 80px;
}


.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.table { 
    
    max-width: 990px;
    margin-top: 70px;

}
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}



h3 {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    font-family: "Lucida Console", monospace;
}

h2{
    color:white;
    text-align: left;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-top: 50px;
    font-size: 30px;
}

.bttn{
    margin-left: 300px;
    margin-top: 300px;

}